.mainContainer{
    background-color: black;
    /*
    height: 580px;
    width: 360px;
    background-image: url('../../assets/img/batman-begins.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;*/
}

.carousel-container{
    background-color: black;
}