.mainContainer{
    background-color: #2F3329;
    height: 884px;
    width: 360px;
    background-image: url('../../assets/img/batman-begins.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}