
.navbarContainer{
    display: inline-flex;
    height: 81px;
    width: 360px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}