.container{
    margin-left: 40px;
}

h1{
    color: #BF91F9;
    padding: 10px;
}

p{
    color: #FFFFFF;
    padding: 10px;
    font-size: 20px;
}

.icons{
    display: inline-flex;
    margin-bottom: 30px;
}

.icons img{
    width: 44px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 65px;
}

.btn{
    width: Hug (199px)px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;  
    margin-bottom: 40px;
}

button{
    background-color: #BF91F9;
    color: #0B0B0B;
}