.infoClassificacao{
    height: 30px;
    width: 100px;
    background-color: rgb(24, 24, 24);
    text-align: center;
    padding-top: 5px;
    margin-top: 30px;
    margin-left: 10px;
    color: #FFA634;
    border-radius: 0 8px;
}

.infoRating{
    display: inline-flex;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 214px;
    height: 20px;
}

.infoRating p{
    padding: 2px;
    height: 24px;
    width: 103;
}

.infoClock{
    padding-left: 10px;
    width: 50px;
    margin-top: 4px;
}
