.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 900px;
  position: relative;
}

.carouselInner {
  white-space: nowrap;
  transition: ease 1s;
}

.carouselItem {
  display: inline-block;
  width: 100%;
}

.carouselControl {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  display: inline-block;
  position: absolute;
  height: 150px;
  width: 70px;
  top: calc(50% - 25px);
  color: #f3f3f3;
  cursor: pointer;
}
.left {
  left: 0;
}
.right {
  right: 0;
}